{% extends 'base.html' %}
{% block content %}
<!-- polls ma heryo vani huni raixa sajilo -->
<a class="btn btn-secondary btn-sm mb-3" href="{% url 'polls:index' %}">Back To Polls</a>

<!-- Actual Question K ho -->
<h1 class="text-center mb-3">{{ question.question_text }}</h1>

{% if error_message %}
<p class="alert alert-danger">
	<strong>{{ error_message }}</strong>
</p>
{% endif %}

<!-- we have action that will go to polls/vote in views  and gets passed in question id -->
<form action="{% url 'polls:vote' question.id %}" method="post">
	<!-- csrf token, for cross-site protection, basically we cant submit a form from another place -->
	{% csrf_token %} 

	<!-- for each one we are going to display the checkbox -->
	<!-- shell ma nai use garako question.choice_set.all -->
	<!-- Value= each will the choice id -->
	<!--  id= the html id = choice & forloop.counter -->
	{% for choice in question.choice_set.all %}
		<div class="form-check">
			<input
				type="radio"
				name="choice"
				class="form-check-input"
				id="choice{{ forloop.counter }}"

				 
				value="{{ choice.id }}"
			/>
			<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label
			>
		</div>
	{% endfor %}
	<input type="submit" value="Vote" class="btn btn-success btn-lg btn-block mt-4" />
</form>
{% endblock %}